*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    /*--colors--*/
    --DARKCOLOR:#1F2732;
    --LIGHRCOLOR:#C7984B;
    --BACKMENU:rgba(31, 39, 51, 0);
    --SHADOW-COLOR:#606D7E;
    --WHITE-COLORr:#fff;
    --BLACK-COLOR:black;
}
body{
    
    font-family: 'Yrsa';
    font-weight: 400;
    color: var(--DARKCOLOR);
    overflow-x:hidden;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color:var(--DARKCOLOR);
}
a:hover,
a:focus{
   text-decoration: underline;
   color:var(--LIGHRCOLOR);
   cursor: pointer;
}
nav li{
    list-style-type:none;
    display: inline-block;
    font-size: 1.5rem; 
}
nav li a{
    color:var(--DARKCOLOR);
}
nav li a:hover,
nav li a:focus{
    color:var(--SHADOW-COLOR);
    text-decoration: none;
}
.backimg{
    background-image:  url(../images/Rectangle1.png) ;
    background-size: cover;
    background-attachment:fixed;
    background-position:bottom;
    height: 86vh;
    justify-content: center;
    align-items: center;
    font: 3rem Acumin Variable Concept; 
    text-transform: capitalize;
}
#spa2{
    display: none;
}
.btn-light ,
.btn-light:hover{
    color: var(--BLACK-COLOR);
    background-color:var(--WHITE-COLORr);
    border-color: var(--WHITE-COLORr);
}
.btn {
    display: block;
    border-radius: 0rem;
    height: 2.5rem;
    
}
.work-together{
   position: absolute;
   bottom: 0;
   height: 25%;
   right: 0;
   color: var(--DARKCOLOR);
}
/*--read more--*/
.read-more-btn{
    color: var(--SHADOW-COLOR);
    cursor: pointer;
}

.read-more-text{
    display: none;
}

.read-more-text--show{
    display: inline;
}

/*--read more--*/
.counter{
    background-image:  url(../images/Rectangle15.png)  ;
    background-size: cover;
    background-attachment: fixed;
    height: auto; 
    padding: 0; 
}
.accordion-button::after {
    background-image: url(../images/Vector.png);
}
.accordion-button:not(.collapsed)::after {
    background-image: url(../images/Vector.png);
    transform: rotate(180deg);
}
.accordion-button:not(.collapsed),
.accordion-button:hover,
.accordion-button:focus
 {
   color: var(--LIGHRCOLOR); 
   background-color:var(--WHITE-COLORr);
   box-shadow: none;
   text-decoration: underline;
   filter: blur();
}
#img-right .card,
#img-right .accordion
{
    padding-right:5em ;
    padding-left:5em ;
}
.fotter{
    background-image:  url(../images/footer.png) ;
    background-position:left; 
    background-repeat: no-repeat;
}
footer .btn{
  background-color: var(--DARKCOLOR);
  
}
.event-back{
    background-image: url(../images/Rectangle31.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    height: 86vh;    
}
/*--menu--*/
.offcanvas{
    background-color: rgba(255, 255, 255,.5) ;  
}
.offcanvas-body  li{
    list-style-type:none;
} 
  .offcanvas-body a{
    font-size: 1.5rem; 
    padding-top:1rem ; 
    padding-bottom:1rem ; 
    display: block;
    color: var(--DARKCOLOR);
} 
.offcanvas-body   a:hover,
.offcanvas-body  a:focus{
    color:var(--WHITE-COLORr) ;
    background-color: var(--LIGHRCOLOR);
    text-decoration: none;
} 
/*--menu--*/
@media screen and (max-width: 768px) {
   .first{
    display: none;
    }
    .nav li{
        font-size: 1rem; 
    }
    .backimg{
        height: 80vh;
        font-size: 2rem;  
    }  
    #spa1{
        display: none;
    }
    #spa2{
        display: block;
        font-weight: 300;
        font-size: 3rem; 
        padding-left: 1em; 
    }
    .work-together{
        position:unset;
    }
    #img-right .card,
    #img-right .accordion
{
    padding-right:0em ;
    padding-left:0em ;
}
  .counter .text-white{
    width: auto;
}
  .events{
    text-align: center;
}
}